*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(104, 104, 104);
}
h1 {
  text-align: center;
  margin-top: 20px;
  color: aliceblue;
}
form {
  max-width: 50%;
  margin-top: 5vh;
  margin-right: 30%;
  margin-left: 30%;
  border-radius: 8px;
  border: 2px solid rgb(66, 66, 180);
  color: #000;
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
  min-width: 270px;
}

.items {
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: 50%;
  border-radius: 8px;
  min-width: 270px;
}

.form-group {
  margin-bottom: 0;
}

.completedTodo {
  background-color: darkgray;
  text-decoration: line-through;
}

span {
  font-size: 1.5em;
}
.todo {
  padding: 0 1.5em;
}
.done {
  text-decoration: line-through;
}
